@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
* {
  font-family: 'Oleo Script', cursive;
}

header {
  background-image: url('./image/image01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 150px;
}
